header {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

nav {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
}

img {
  height: 40px; 
}

h1 {
  font-size: 20px;
  margin: 0; 
}

nav > div:first-child {
    margin-right: 20px;
}