:host {
  display: block;
  border-radius: 16px;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 180px;
    height: 150px;

    .card-top {
      display: flex;
      align-items: center;
      gap: 12px;
      flex: 1;

      .icon {
        width: 40px;
        height: 40px;
      }

      .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        .card-title {
          color: #aaa;
          font-size: 0.9rem;
          margin: 1rem 0;
        }

        .card-number {
          color: #000;
          font-size: 3rem;
          font-weight: bold;
          margin: 0;
        }
      }
    }

    .view-btn {
      background-color: #ff4d4f;
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 4px 8px;
      font-size: 0.8rem;
      cursor: pointer;
      margin-top: 10px;
      align-self: center;
      transition: background 0.3s;

      &:hover {
        background-color: #e03e3e;
      }
    }
  }
}
